
.block .quotes {
}
.block .credit {
	clear:both;
	text-align:right;
	padding-right:5px;
}
.block .credit a {
	font-size:9px;
}
.block .credit a:hover {
}

.block .quotes-bid-ask {
}

.block .quotes-bid-ask .quote {
	clear:both;
	border:1px solid #EEEEEE;
	font-size:10px;
}
.block .quotes-bid-ask .quote .symbol {
	float:left;
	padding:0px 15px 0px 3px;
	width:55px;
}
.block .quotes-bid-ask .bid {
	display:inline;
	float:right;
	text-align:right;
/* 	width:55px; */
	padding-right:5px;
}
.block .quotes-bid-ask .ask {
	display:inline;
	float:right;
	text-align:right;
	width:47px;
	padding-right:5px;
}

.block .quotes-bid-ask .quote-header {
	font-size:11px;
	text-transform:uppercase;
}
.block .quotes-bid-ask .quote-header .bid {
/* 	text-align:center; */
/* 	padding-right:10px; */
}
.block .quotes-bid-ask .quote-header .ask {
/* 	text-align:center; */
/* 	padding-right:10px; */
}


.block .quotes-bid-ask .quote-up .symbol {
}
.block .quotes-bid-ask .quote-down .symbol {
}

